.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.card {
  background-color: white;
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 560px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* Container apenas para o Ícone e o Título ficarem lado a lado */
.header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-bottom: 10px;
}

.title {
  color: #333;
  margin: 0;
  font-size: 24px;
  font-weight: bold;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.formGroup {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.label {
  display: block;
  font-size: .9rem;
  font-weight: bold;
  color: #05060f99;
}

.input {
  width: 100%;
  box-sizing: border-box;
  height: 44px;
  background-color: #05060f0a;
  border-radius: .5rem;
  padding: 0 1rem;
  border: 2px solid transparent;
  font-size: 1rem;
  transition: border-color .3s, color .3s, background .2s;
}

.input:hover, .input:focus {
  outline: none;
  border-color: #05060f;
  color: #05060fc2;
}

/* Botões padronizados */
.buttonContainer {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.cancelButton {
  flex: 1;
  padding: 12px;
  background-color: #ccc;
  color: #333;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  font-size: 16px;
  transition: background 0.2s;
}

.cancelButton:hover {
  background-color: #bbb;
}

.submitButton {
  flex: 1;
  padding: 12px;
  background-color: var(--color-brand-700);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  font-size: 16px;
  transition: background 0.2s;
}

.submitButton:hover {
  background-color: var(--color-brand-800);
}