.pageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh; 
  background-color: #cde3bb; 
  padding: 20px;
}

.card {
  background-color: white;
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 450px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.title {
  color: #333;
  text-align: center;
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: bold;
}

.inputGroup {
  position: relative;
  display: flex;
  align-items: center;
}
.icon {
  position: absolute;
  left: 15px;
  color: #666;
  font-size: 20px;
  pointer-events: none;
}

.input {
  max-width: 400px;
  height: 44px;
  background-color: #05060f0a;
  border-radius: .5rem;
  padding: 0 1rem;
  border: 2px solid transparent;
  font-size: 1rem;
  transition: border-color .3s cubic-bezier(.25,.01,.25,1) 0s, color .3s cubic-bezier(.25,.01,.25,1) 0s,background .2s cubic-bezier(.25,.01,.25,1) 0s;
}

.label {
  display: block;
  margin-bottom: .3rem;
  font-size: .9rem;
  font-weight: bold;
  color: #05060f99;
  transition: color .3s cubic-bezier(.25,.01,.25,1) 0s;
}

.input:hover, .input:focus, .input-group:hover .input {
  outline: none;
  border-color: #05060f;
}

.input-group:hover .label, .input:focus {
  color: #05060fc2;
}

.button {
  background-color: #3a7d71;
  color: white;
  border: none;
  padding: 15px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  transition: background 0.2s;
  font-weight: 500;
}

.button:hover {
  background-color: #2c5e55;
}

.footerLink {
  text-align: center;
  margin-top: 15px;
  font-size: 13px;
  color: #333;
}

.link {
  color: #3a7d71;
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
}